
.temp-190{
	background: #FF0EF0;
}
.temp-188{
	background: #FF0DF0;
}
.temp-186{
	background: #FF0CF0;
}
.temp-184{
	background: #FF0BF0;
}
.temp-182{
	background: #FF0AF0;
}
.temp-180{
	background: #FF09F0;
}
.temp-178{
	background: #FF08F0;
}
.temp-176{
	background: #FF07F0;
}
.temp-174{
	background: #FF06F0;
}
.temp-172{
	background: #FF05F0;
}
.temp-170{
	background: #FF04F0;
}
.temp-168{
	background: #FF03F0;
}
.temp-166{
	background: #FF02F0;
}
.temp-164{
	background: #FF01F0;
}
.temp-162{
	background: #FF00F0;
}
.temp-160{
	background: #FF00E0;
}
.temp-158{
	background: #FF00D0;
}
.temp-156{
	background: #FF00C0;
}
.temp-154{
	background: #FF00B0;
}
.temp-152{
	background: #FF00A0;
}
.temp-150{
	background: #FF0090;
}
.temp-148{
	background: #FF0080;
}
.temp-146{
	background: #FF0070;
}
.temp-144{
	background: #FF0060;
}
.temp-142{
	background: #FF0050;
}
.temp-140{
	background: #FF0040;
}
.temp-138{
	background: #FF0030;
}
.temp-136{
	background: #FF0020;
}
.temp-134{
	background: #FF0010;
}
.temp-132{
	background: #FF0000;
}
.temp-130{
	background: #FF0a00;
}
.temp-128{
	background: #FF1400;
}
.temp-126{
	background: #FF1e00;
}
.temp-124{
	background: #FF2800;
}
.temp-122{
	background: #FF3200;
}
.temp-120{
	background: #FF3c00;
}
.temp-118{
	background: #FF4600;
}
.temp-116{
	background: #FF5000;
}
.temp-114{
	background: #FF5a00;
}
.temp-112{
	background: #FF6400;
}
.temp-110{
	background: #FF6e00;
}
.temp-108{
	background: #FF7800;
}
.temp-106{
	background: #FF8200;
}
.temp-104{
	background: #FF8c00;
}
.temp-102{
	background: #FF9600;
}
.temp-100{
	background: #FFa000;
}
.temp-98{
	background: #FFaa00;
}
.temp-96{
	background: #FFb400;
}
.temp-94{
	background: #FFbe00;
}
.temp-92{
	background: #FFc800;
}
.temp-90{
	background: #FFd200;
}
.temp-88{
	background: #FFdc00;
}
.temp-86{
	background: #FFe600;
}
.temp-84{
	background: #FFf000;
}
.temp-82{
	background: #FFfa00;
}
.temp-80{
	background: #fdff00;
}
.temp-78{
	background: #d7ff00;
}
.temp-76{
	background: #b0ff00;
}
.temp-74{
	background: #8aff00;
}
.temp-72{
	background: #65ff00;
}
.temp-70{
	background: #3eff00;
}
.temp-68{
	background: #17ff00;
}
.temp-66{
	background: #00ff10;
}
.temp-64{
	background: #00ff36;
}
.temp-62{
	background: #00ff5c;
}
.temp-60{
	background: #00ff83;
}
.temp-58{
	background: #00ffa8;
}
.temp-56{
	background: #00ffd0;
}
.temp-54{
	background: #00fff4;
}
.temp-52{
	background: #00e4ff;
}
.temp-50{
	background: #00d4ff;
}
.temp-48{
	background: #00c4ff;
}
.temp-46{
	background: #00b4ff;
}
.temp-44{
	background: #00a4ff;
}
.temp-42{
	background: #0094ff;
}
.temp-40{
	background: #0084ff;
}
.temp-38{
	background: #0074ff;
}
.temp-36{
	background: #0064ff;
}
.temp-34{
	background: #0054ff;
}
.temp-32{
	background: #0044ff;
}
.temp-30{
	background: #0032ff;
}
.temp-28{
	background: #0022ff;
}
.temp-26{
	background: #0012ff;
}
.temp-24{
	background: #0002ff;
}
.temp-22{
	background: #0000ff;
}
.temp-20{
	background: #0100ff;
}
.temp-18{
	background: #0200ff;
}
.temp-16{
	background: #0300ff;
}
.temp-14{
	background: #0400ff;
}
.temp-12{
	background: #0500ff;
}
.temp-0{
	background: black;
	color: white;
	font-size: xx-large;
}
